<div>
  <br/>
  <ul class="widget-list">
    <li className="p-2" *ngFor="let widget of widgets">
      <app-heading-widget *ngIf="widget.type=='HEADING'" [widget] = "widget"></app-heading-widget>
      <app-paragraph-widget *ngIf="widget.type=='PARAGRAPH'" [widget] = "widget"></app-paragraph-widget>
      <app-link-widget *ngIf="widget.type=='LINK'" [widget] = "widget"></app-link-widget>
      <app-list-widget *ngIf="widget.type=='LIST'" [widget] = "widget"></app-list-widget>
      <app-image-widget *ngIf="widget.type=='IMAGE'" [widget] = "widget"></app-image-widget>
    </li>
  </ul>
</div>
